.home {
    display: flex;
    margin-top: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    margin: 0 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #000;
    text-align: left;
}
.card img {
    width: 80%;
    margin-bottom: 1rem;
}
.card p {
    margin-bottom: .5rem;
    font-size: 14px;
    margin-top: .5rem;
}
.card button {
    padding: .5rem 3rem;
    background-color: #000;
    color: cadetblue;
    border-radius: 4px;
    cursor: pointer;
    transition: 1.5s;
}
.card button:hover {
    background-color: aquamarine;
    color: #000;
}